@import "../../../variables";

.card{
    min-width: 140px;
    max-width: 140px;
    max-height: 180px;
    min-height: 180px;
    border-radius: 5px;
    position: relative;
    
    display: flex;
    flex-direction: column;

    &__saved{
        width: 20px;
        position: absolute;
        bottom: 5px;
        right: 5px;
        cursor: pointer;
    }

    &__image{
        height: 87px;
        border-radius: 5px 5px 0px 0px;
        background: $text_secondary;

        display: flex;
        justify-content: center;
        align-items: center;

        & > img {
            max-width: 70px;
            max-height: 70px;
            min-width: 70px;
            min-height: 70px;
            border-radius: 300px;
            object-fit: cover;
        }

        &.Gryffindor{
            background: $gryffindor_color;
        }
        &.Slytherin{
            background: $slytherin_color;
        }
        &.Hufflepuff{
            background: $hufflepuff_color;
        }
        &.Ravenclaw{
            background: $ravenclaw_color;
        }

    }
    
    
    &__info{
        height: 93px;
        background-color: $title_color;
        border-radius: 0px 0px 5px 5px;
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        &.dead{
            background-color: $dead-color;
        }

        & > p {
            margin: 0px;
            font-weight: 600;
            font-size: 18px;
            text-align: center;
        }

        & > div {
            padding: 10px;

            & > p {
                margin: 0px;
                color: $text_secondary;
                font-size: 11px;
                line-height: 15px;
            }
        }  
    }

    @include global_responsive($phone-size){
        flex-direction: row;
        min-width: 515px;
        min-height: 265px;
        border-radius: 16px;

        &__saved{
            width: 20px;
            position: absolute;
            top: 10px;
            right: 10px;
        }

        &__image{
            height: 265px;
            width: 210px;
            background: $gryffindor_color-big;
            border-radius: 16px 0px 0px 16px;

            & > img {
                max-width: 150px;
                max-height: 150px;
                min-width: 150px;
                min-height: 150px;
                border-radius: 300px;
                object-fit: cover;            }
        }

        &__info{
            min-height: 225px;
            background-color: $title_color;
            border-radius: 0px 16px 16px 0px;
            width: 305px;
            padding: 20px;

            & > span {
                color: $text_secondary;
                font-size: 14px;
                line-height: 19px;
            }
    
            & > p {
                margin: 0px;
                font-weight: 600;
                line-height: 46px;
                font-size: 30px;
                text-align: left;
                margin: 20px 0px;
            }
    
            & > div {
                padding: 0px;
    
                & > p {
                    color: $body_text;
                    font-size: 14px;
                    line-height: 27px;

                    & > span{
                        font-weight: bold;
                    }
                }
            }  
        }
    }
}